.container {
    width: 1000px;
    position: relative;
    margin: 0px auto;
    padding: 0;
}

.container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}